@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Export</title>
</head>
<body>
    <div>
        <script language="javascript" src="http://localhost:49808/Brand/ParseBrand/e560a38c-4aad-46c7-8878-308d9dc470b4"></script>
    </div>
</body>
</html>
