@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div>
        <h1>Admin Panel</h1>

        <ul>
            <li>
                @Html.ActionLink("Brands" , "Index", "Brand")
            </li>
            <li>
                @Html.ActionLink("Airports", "Index", "Airport")
            </li>
        </ul>
    </div>
</body>
</html>
